<h2 class="bg-light mb-2 text-center">Add New Customer</h2>

    
<form (submit)="addNewUser(addUserForm)" #addUserForm="ngForm" style="border: 5px solid #1b0679; padding: 10px;" >
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationServer02">Email Id</label>
        <input type="email" class="form-control"   placeholder="Enter email id" required name="emailid" id="emailid" ngModel>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationServer03"></label>
        <textarea type="passwaord" class="form-control" placeholder="Enter password" required name="password" id="lastName" ngModel >
        </textarea>
      </div>
    </div>
    <input type="hidden" class="form-control"   placeholder="enabled" required name="enabled" id="enabled" value="yes" ngModel>
    
    <button class="btn btn-primary" type="submit">Submit form</button>
  </form>